<mat-toolbar color="primary" class="header-toolbar">
  <!-- Logo -->
  <span class="logo me-2" (click)="goToHome()">e-Shop</span>

  <!-- Buttons to be aligned at the start -->
  <button
    mat-raised-button
    class="me-2"
    color="primary"
    routerLink="/"
    *ngIf="isLoggedIn()"
  >
    Home
  </button>

  <button
    mat-raised-button
    class="me-2"
    color="primary"
    routerLink="/myOrders"
    *ngIf="isLoggedIn() && !isAdmin()"
  >
    My Orders
  </button>

  <button
    mat-raised-button
    class="me-2"
    color="primary"
    routerLink="/addNewProduct"
    *ngIf="isLoggedIn() && isAdmin()"
  >
    Add New Product
  </button>

  <button
    mat-raised-button
    class="me-2"
    color="primary"
    routerLink="/showProductDetails"
    *ngIf="isLoggedIn() && isAdmin()"
  >
    Show Product Details
  </button>
  <button
    mat-raised-button
    class="me-2"
    color="primary"
    routerLink="/allOrdersInfo"
    *ngIf="isLoggedIn() && isAdmin()"
  >
    All Orders Info
  </button>

  <!-- Spacer to push the remaining buttons to the end -->
  <span class="example-spacer"></span>

  <!-- Cart Button (aligned at the end) -->
  <button
    mat-icon-button
    class="me-2"
    color="light"
    *ngIf="isLoggedIn() && !isAdmin()"
    routerLink="/cart"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <!-- Login Button (aligned at the end, shown if not logged in) -->
  <button
    mat-raised-button
    class="me-2"
    color="primary"
    routerLink="/login"
    *ngIf="!isLoggedIn()"
  >
    Login
  </button>

  <!-- Logout Button (aligned at the end, shown if logged in) -->
  <button
    mat-raised-button
    class="me-2"
    color="warn"
    *ngIf="isLoggedIn()"
    (click)="logout()"
  >
    Logout
  </button>
</mat-toolbar>
