<mat-toolbar color="primary">
  <span>e-Shop</span>
  <span class="example-spacer"></span>
  <button
    mat-raised-button
    color="primary"
    class="me-3"
    type="submit"
    *ngIf="!isLoggedIn()"
    routerLink="/login"
  >
    Login
  </button>
  <button
    mat-raised-button
    color="warn"
    *ngIf="isLoggedIn()"
    type="submit"
    (click)="logout()"
  >
    Logout
  </button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()">
  <button mat-raised-button color="primary" class="me-3" routerLink="/">
    Home
  </button>
  <button
    mat-raised-button
    color="primary"
    class="me-3"
    routerLink="/addNewProduct"
    *ngIf="isAdmin()"
  >
    AddNewProduct
  </button>
  <button
    mat-raised-button
    color="primary"
    class="me-3"
    routerLink="/showProductDetails"
    *ngIf="isAdmin()"
  >
    ShowProductDetails
  </button>
</mat-toolbar>
