<div class="container-fluid mt-3 p-2">
  <div class="row">
    <div class="col-md-6 col-sm-12 search-bar">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input
          matInput
          #searchKeyword
          (keyup)="searchByKeyword(searchKeyword.value)"
          name="searchKey"
          id="searchKey"
          placeholder="Enter your search term"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <table mat-table [dataSource]="productDetails" class="mat-elevation-z8 w-100">
        <!-- Product Id  Column -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.productId }}</td>
        </ng-container>

        <!-- Product Name Column -->
        <ng-container matColumnDef="Product Name">
          <th mat-header-cell *matHeaderCellDef>Product Name</th>
          <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
        </ng-container>

        <!--  Product Description Column -->
        <ng-container matColumnDef="Product Description">
          <th mat-header-cell *matHeaderCellDef>Product Description</th>
          <td mat-cell *matCellDef="let element" class="product-desc">
            {{ element.productDescription }}
          </td>
        </ng-container>

        <!-- Product DiscountedPrice Column -->
        <ng-container matColumnDef="Product DiscountedPrice">
          <th mat-header-cell *matHeaderCellDef>Product DiscountedPrice</th>
          <td mat-cell *matCellDef="let element">
            {{ element.productDiscountedPrice }}
          </td>
        </ng-container>

        <!-- Product ActualPrice Column-->
        <ng-container matColumnDef="Product ActualPrice">
          <th mat-header-cell *matHeaderCellDef>Product ActualPrice</th>
          <td mat-cell *matCellDef="let element">
            {{ element.productActualPrice }}
          </td>
        </ng-container>

        <!--Images Column-->
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="showImages(element)">
              <mat-icon>imagesmode</mat-icon>
            </button>

            <button
              mat-icon-button
              color="primary"
              (click)="editProductDetails(element.productId)"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-icon-button
              color="warn"
              (click)="deleteProduct(element.productId)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 pagination-btn text-end p-2">
      <!-- Previous Page Button -->
      <button
        mat-stroked-button
        color="primary"
        (click)="goToPreviousPage()"
        [disabled]="pageNumber <= 0"
        class="me-2"
      >
        Previous Page
      </button>

      <!-- Load More Button -->
      <button
        mat-stroked-button
        color="secondary"
        class="me-2"
        (click)="loadMoreProducts()"
        *ngIf="hasMore"
      >
        Load more
      </button>
    </div>
  </div>
</div>