<div class="container mt-3 p-3">
  <div class="search-bar">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        #searchKeyword
        (keyup)="searchByKeyword(searchKeyword.value)"
        name="searchKey"
        id="searchKey"
        placeholder="Enter your search term"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="gallery">
    <div class="image-card" *ngFor="let p of productDetails">
      <img
        [src]="p.productImages[0].url"
        loading="lazy"
        alt="{{ p.productName }}"
      />
      <div class="info">
        <h3>{{ p.productName }}</h3>
        <p>{{ p.productDescription }}</p>
        <p>
          <strong>Price:</strong>
          <strong class="price"
            >&#8377; {{ p.productDiscountedPrice | indianNumber }}</strong
          >
          &#8377;
          <s>{{ p.productActualPrice | indianNumber }}</s>
        </p>
        <button
          mat-raised-button
          color="warn"
          (click)="showProductDetails(p.productId)"
          class="view-details-button"
        >
          View Details
        </button>
      </div>
    </div>
  </div>
  <button
    mat-stroked-button
    class="load-more-button"
    (click)="loadMoreProducts()"
    *ngIf="hasMore"
  >
    Load More <mat-icon>keyboard_double_arrow_down</mat-icon>
  </button>
</div>



<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p>&copy; 2024 eShop. All rights reserved.</p>
    <nav class="footer-nav">
      <a href="/privacyPolicy">Privacy Policy</a>
      <a href="/termsOfService">Terms of Service</a>
      <a href="/contactUs">Contact Us</a>
    </nav>
  </div>
</footer>

<!-- ScrollTop Button -->
<button class="scroll-to-top" (click)="scrollToTop()">
  <mat-icon>keyboard_double_arrow_up</mat-icon>
</button>
