mat-grid-tile {
  border: 1px solid #99a98f;
  border-radius: 3px;
}
.home-page-product-pmage {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.image-container {
  position: relative;
  height: 300px;
}

.product-description {
  white-space: inherit;
  height: 40px;
  width: 288px;
  text-overflow: ellipsis;
  overflow: hidden;
}
