mat-grid-tile {
  border: 1px solid #99a98f;
  border-radius: 3px;
}
.home-page-product-pmage {
  max-width: 90%;
  max-height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.product-description {
  white-space: inherit;
  height: 40px;
  width: 288px;
  text-overflow: ellipsis;
  overflow: hidden;
}
