<div class="container mt-5">
  <div class="row gx-5">
    <!-- Product Image Gallery -->
    <div class="col-lg-6 col-md-12 mb-4">
      <div class="image-container card">
        <img
          [src]="product.productImages[selectedProductIndex].url"
          alt="Main Product Image"
          class="main-image"
        />
      </div>

      <mat-grid-list
        cols="3"
        rowHeight="1:1"
        gutterSize="10px"
        class="mt-3 image-gallery"
      >
        <mat-grid-tile
          *ngFor="let file of product.productImages; let i = index"
          (click)="changeIndex(i)"
          class="thumbnail-tile"
        >
          <div class="card thumbnail-card">
            <img
              [src]="file.url"
              alt="Thumbnail Image"
              class="thumbnail-image"
            />
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <!-- Product Information -->
    <div class="col-lg-6 col-md-12">
      <div class="product-information">
        <div class="product-title">
          <h2>{{ product.productName }}</h2>
        </div>
        <div class="mt-3 product-description text-muted">
          <p>{{ product.productDescription }}</p>
        </div>
        <div class="mt-3 product-pricing">
          <p class="discounted-price">
            <strong
              >&#8377;
              {{ product.productDiscountedPrice | indianNumber }}</strong
            >
          </p>
          <p class="original-price text-secondary">
            &#8377; <s>{{ product.productActualPrice | indianNumber }}</s>
          </p>
        </div>

        <div class="review-stars mt-3">
          <span class="star full">&#9733;</span>
          <span class="star full">&#9733;</span>
          <span class="star full">&#9733;</span>
          <span class="star half">&#9733;</span>
          <span class="star empty">&#9733;</span>
          <span class="rating-number">(4/5)</span>
        </div>

        <div class="mt-3 row" *ngIf="!isAdmin()">
          <button
            mat-raised-button
            class="buy-now-button mb-3"
            (click)="buyProduct(product.productId)"
          >
            Buy Now
          </button>
          <button
            mat-raised-button
            class="add-to-cart-button mb-3"
            (click)="addToCart(product.productId)"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
