<div class="container mt-5">
  <div class="heading text-center">
    <h1 class="product-form">Product Details</h1>
  </div>
  <div class="card p-5">
    <div class="row">
      <div class="col-12 col-md-6 text-center">
        <form
          action=""
          #productForm="ngForm"
          (ngSubmit)="addProduct(productForm)"
        >
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Name</mat-label>
            <input
              matInput
              placeholder="Product Name"
              [(ngModel)]="product.productName"
              name="productName"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Description</mat-label>
            <input
              matInput
              placeholder="Product Description"
              [(ngModel)]="product.productDescription"
              name="productDescription"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Actual Price</mat-label>
            <input
              type="number"
              matInput
              placeholder="Product Actual Price"
              [(ngModel)]="product.productActualPrice"
              name="productActualPrice"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Discounted Price</mat-label>
            <input
              type="number"
              matInput
              placeholder="Product Discounted Price"
              [(ngModel)]="product.productDiscountedPrice"
              name="productDiscountedPrice"
            />
          </mat-form-field>

          <div
            class="w-100 mt-3 mb-3 p-2 d-flex flex-row align-middle justify-content-end"
          >
            <button mat-stroked-button color="primary" class="me-3">
              Clear
            </button>
            <button
              mat-stroked-button
              color="primary"
              type="submit"
              *ngIf="isNewProduct"
            >
              Add Product
            </button>
            <button
              mat-stroked-button
              color="primary"
              type="submit"
              *ngIf="!isNewProduct"
            >
              Update Product
            </button>
          </div>
        </form>
      </div>

      <div class="col-12 col-md-6 mt-3 mt-md-0">
        <div class="d-flex flex-row align-middle justify-content-center">
          <div class="dropzone" appDrag (files)="fileDropped($event)">
            <div class="dropzone-text text-center">
              Drag and drop your file or
              <a (click)="selectFile.click()" class="browse-btn">Browse</a> a
              file
            </div>
          </div>

          <input
            type="file"
            multiple
            #selectFile
            (change)="onFileSelected($event)"
            class="d-none"
          />
        </div>

        <div class="mt-5 p-3">
          <div class="row">
            <mat-grid-list cols="4" rowHeight="1:1">
              <mat-grid-tile
                *ngFor="let file of product.productImages; let i = index"
              >
                <div class="position-relative">
                  <span class="image-remove-btn" (click)="removeImages(i)"
                    >X</span
                  >
                  <img [src]="file.url" alt="product-img" class="img-fluid" />
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
